{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Kezia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/ajax/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'ajax/script.js' %}"></script>
</head>
<body>
  	<form action="{% url 'logout' %}">
  		<input type="submit" class="btn btn-danger ml-5 mt-5" value="Logout">
  	</form>
	<div align="center">
		<br/>
		<h1> Welcome, <u> {{ user.username }}</u> ! </h1>
		<h1> Search a Book </h1>
	    <input id="search" class="form-control mb-2" type="text" placeholder="SEARCH">
		<input id="button" type="submit" class="btn btn-danger mb-2" value="Search">
	    <br/>
	    <br/>
	</div>
	<div class="container">
		<table class="table table-hover table-responsive">
		  <thead>
		    <tr>
		      <th width="5%" scope="col">#</th>
		      <th width="15%" scope="col">Image</th>
		      <th width="40%" scope="col">Title</th>
		      <th width="40%" scope="col">Authors</th>
		    </tr>
		  </thead>
		  <tbody>

		  </tbody>
		</table>
	</div>
</body>
</html>
