<!-- templates/signup.html -->
{% extends 'base_generic.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-danger mb-2" type="submit">Sign up</button>
  </form>
{% endblock %}